<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <appSettings>
    <!--一般有如下一些配置名称 要先安装好相应的数据库提供程序
     System.Data.Odbc
     System.Data.OleDb
     System.Data.OracleClient
     System.Data.SqlClient
     System.Data.SqlServerCe.3.5
     iAnywhere.Data.SQLAnywhere
     -->
    <!--配置数据库提供程序名称 Key名称不要更改-->
    <add key="DbProviderName" value="System.Data.SqlClient"/>

    <!--配置数据库链接字段串值 Key名称不要更改-->
    <add key="DbConnectionString" value="Data Source=localhost\SQLEXPRESS;Initial Catalog=ydyTest;Integrated Security=SSPI"/>
  </appSettings>
</configuration>
